.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #202020;
  color: #fff;
}

.navList {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
}
.navItem {
  margin: 0 50px;
}

.navLink {
  color: #fff;
  text-decoration: none;
}
