* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tableWrapper {
  max-width: 800px;
  height: 300px;
  background-color: #fff;
  overflow: scroll;
  position: relative;
}

.tableWrapper.scroll-close::-webkit-scrollbar {
  width: 0;
}

.tableWrapper::-webkit-scrollbar {
  width: 7px;
  height: 7px; /* Mostly for vertical scrollbars */
  border-radius: 25px;
}

.tableWrapper::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #4c53cd;
  border-radius: 25px;
}

.tableWrapper::-webkit-scrollbar-track {
  /* Background */
  background-color: rgb(138, 133, 133);
}

table {
  border-collapse: collapse;
  cursor: pointer;
}

thead {
  position: sticky;
  top: 0;
  background-color: #9ac853ff;
  z-index: 2;
  font-size: 17px;
}

th {
  min-width: 100px;
  height: 50px;
}

td {
  border-bottom: 1px solid rgb(204, 200, 200);
  min-width: 100px;
  height: 50px;
  text-align: center;
  background-color: #4b7067ff;
  color: #fff;
  font-size: 14px;
}

tr:hover td {
  background-color: #6ba385ff;
}

tr td:first-child {
  position: sticky;
  left: 0;
  background-color: #c76362ff;
  font-weight: bold;
  color: #000;
  font-size: 15px;
}

tr td:last-child {
  position: sticky;
  right: 0;
  background-color: #c76362ff;
  font-weight: bold;
  color: #000;
  font-size: 15px;
}

tr th:first-child {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: #9ac853ff;
}

tr th:last-child {
  position: sticky;
  top: 0;
  right: 0;
  background-color: #9ac853ff;
  z-index: 2;
}
