.home {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.category {
  width: 25%;
  border: 1px solid #000;
  min-height: 200px;
}

.cards {
  width: 70%;
  border: 1px solid #000;
  min-height: 200px;
}
